/* Variables */
$title-font: normal 24px/1.5 'Open Sans', sans-serif;
$background:burlywood ;
/* SCSS*/


nav{
    background-color: burlywood;
    display: flex;
    flex-direction: row;
justify-content: space-between ;}
    

