

   /* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
 
}

.navbar-scroll .nav-link:hover {
  color: burlywood;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
 
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled { padding-top: 5px;
  padding-bottom: 5px;
 
}


   
    
    
    

.info{ 
  width: 100%;
  height: auto;
  border:white;
 padding: 20px;
  text-align: center;
  background-color:burlywood;
color: white;
border-radius: 10px;
margin: 2%;

box-shadow: 0px 1px 10px rgba(0,0,0,0.2); 

}
.info:hover{background-color: white;
color: burlywood;


}


 
 .btn-wsp{
   position: fixed;
   height: 55px;
   width: 55px;
   line-height: 55px;
   bottom: 30px;
   right: 30px;
   background-color: rgb(16, 211, 32);
   color: white;
   border-radius: 56px;
   text-align: center;
   font-size: 30px;
   box-shadow: 0px 1px 10px rgba(0,0,0,0.3); 
   z-index: 100;
   
 }
 .btn-wsp:hover{
  text-decoration: none;
  color: rgb(16, 211, 32);
 background-color: white;
}
  .contenedor-seccion{height: auto; 
    width: 100%;
    background-color: white;
    }
    
    .imagen1_seccion{ height: auto;
  width: 33%; padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  
 
}
  .imagen2_seccion{ height: auto;
    width: 33%;
    padding-top: 4px;
    padding-bottom: 4px;
     }
    .imagen3_seccion{ height: auto;
      width: 33%;
      padding-top: 4px;
      padding-bottom: 4px;
      transition: width 2s;
      
      
      
      
    }
   
    
    .texto-masvendido{display: flex;
      justify-content: center; font-family: 'Bebas Neue', cursive;
      align-items: center;
      background-color: ;
      height: 60px ;
      width:250px ;
      margin-left: 40%;
      margin-top: 50px;
      margin-bottom: 20px; 
      text-align: center; 
      color: burlywood;
  
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
     
    }
    .texto-masvendido:hover{
      background-color: white;
      color: burlywood;
    }
    
    .publicaciones-facebook{
      display: flex;
      flex-direction: row;
      justify-content: center;
       padding-top:40px;
    }
    .publicacion-facebook{ padding-right: 60px;
      margin-left: 55px;
     
   }
   
   .boton-instagram{display: flex;
    justify-content: center;
    align-items: center;
    background-color: ;
    height: 60px ;
    width:130px ;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 70px; 
    text-align: center; 
    color: burlywood;
    border-radius: 20px;
    text-decoration: none;
 box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    
   }
   .btn-small {
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    letter-spacing: 1px;
}
    
    @media screen and (max-width: 400px)
    {
      
      .info{
    margin-left:2%;
  margin-right: 4%;
padding: 5%;
}
      .contenedor-seccion{display: flex;
    flex-direction: column;
  justify-content: center;}
  .imagen1_seccion{
    margin-left:7%;
    width:82% ;
    height: auto;
  }.imagen2_seccion{ margin-left:9% ;
    width:80% ;
    height: auto;
  }
  .imagen3_seccion{ margin-left:9% ;
    width:80% ;
    height: auto;
  }
  .texto-masvendido{
    width:50% ;
    height:auto;
    padding: 10px; 
    margin-left: 25%;
    margin-right:20% ;
    text-align: center;
    
  }
  .imagen-carrouselm{
    width:80% ;
    height:100px ;
    margin-right: 20%;
  }
  .publicaciones-facebook{
    display: none;
   
  }
  .btn-wsp{
    position: fixed;
    height: 55px;
    width: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: rgb(16, 211, 32);
    color: white;
    border-radius: 56px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3); 
    z-index: 100;
    
  }
  .titulo-facebook{display: none;}
  .carousel-item{width:70% ;
  height: auto;}

  .imagen-carrouselm{
    width:90% ;
    height: 60px;
  }
  .boton-instagram{
    width: 30%;
    margin-right:10%;
    margin-left: 36%;
  }

    
     

      
      
  